<header>
	<h1>Bar</h1>
</header>
<main>
	<section class="burgers">
	<h3>Choose meal:</h3>
	  <ul>
		<li ng-repeat="burger in burgers" ng-click="addItem({ 'name': burger.name, 'customs': []})">
		  <h4>{{burger.name}}</h4>
		  <img src={{burger.image}} width="30%" height="30%">
		</li>
	  </ul>
	</section>
	<section class="order-status">
		<h3>Order status:</h3>
		<h4>Meals:</h4>
		<ul>
		  <li ng-repeat="o in order">
			{{o.item.name}}, {{o.amount}}
			<button ng-click="removeItem(o.item, order)">x</button>
		  </li>
		</ul>
		<h4>Zone:</h4>
		<button class="submit">Submit</button>
	</section>
</main>
