<main layout="row">
  <section layout="row">

	<section class="burgers">
	  <h3>Choose meal:</h3>
	  <h4>Favorites</h4>
	  <md-content class="favorites" layout="row" layout-wrap>
		<md-card ng-repeat="burger in favorites">
		  <md-card-content ng-click="addItem(burger)">
			{{burger.name}}
			<img ng-src={{burger.image}} class="md-card-image" alt="Washed Out">
		  </md-card-content>
		</md-card>
	  </md-content>

	  <h4>Other</h4>
	  <md-content layout="row" layout-wrap>
		<md-card ng-repeat="burger in burgers" ng-init="customs.removed = []; customs.comment = ''">
		  <md-card-content ng-click="addItem(burger)" ng-show="showCustomize == false">
			<span class="md-headline"> {{burger.name}} </span>
			<span class="md-subheader"> {{burger.price}} kr</span>
			<img ng-src={{burger.image}} class="md-card-image" alt="Washed Out">
		  </md-card-content>

		  <md-card-footer ng-show = "showCustomize == false">
			<md-button class="md-raised" ng-click="showCustomize = true">customize</md-button>
		  </md-card-footer>

		  <!--<md-button class="md-raised" ng-click="showAdvanced($event, burger)">customize</md-button>-->
		  <md-card-content ng-show="showCustomize == true">
			<form>
			  <md-list>
				<md-list-item ng-repeat="i in burger.ingredients">
				  <md-checkbox ng-checked="!customExists(i, customs.removed)" ng-click="toggleCustom(i, customs.removed)"></md-checkbox>
				  <p>{{i}}</p>
				</md-list-item>
			  </md-list>
			  <md-input-container>
				<label>comment</label>
				<textarea ng-model="customs.comment"></textarea>
			  </md-input-container>
			</form>
		  </md-card-content>

		  <md-card-footer ng-show="showCustomize == true" layout="row">
			<md-button class="md-raised" ng-click="showCustomize = false; customs = noCustoms" ng-show="showCustomize">close</md-button>
			<md-button class="md-raised md-primary" type="submit" ng-click="addCustom(burger, customs); customs = noCustoms" ng-show="showCustomize">add</md-button>
		  </md-card-footer>
		</md-card>
	  </md-content>
          
           <h3>Choose Drinks:</h3>
	  <h4>Drinks</h4>
	  <md-content class="drinks" layout="row" layout-wrap>
		<md-card ng-repeat="drink in drinks">
		  <md-card-content ng-click="addItem(drink, [])">
                    <span class="md-headline"> {{drink.name}} </span>
		    <span class="md-subheader"> {{drink.price}} kr</span>
		    <img ng-src={{drink.image}} class="md-card-image" alt="Washed Out">
		  </md-card-content>
		</md-card>
	  </md-content>

	  <h3>Choose zone:</h3>
	  <md-content layout="row" layout-wrap>
		<md-card flex ng-repeat="zone in [1,2,3,4,5,6,7,8,9]" ng-click="setZone(zone)">
		  <md-card-title>
			<md-card-title-text>
			  <span class="md-headline"> {{zone}} </span>
			</md-card-title-text>
		  </md-card-title>
		</md-card>
	  </md-content>

	</section>
  </section>

  <section class="order-status" layout="column">
	<h3>Order status:</h3>
	<md-content>
	  <md-list class="md-dense">
		<md-subheader class="md-no-sticky">Meals:</md-subheader>
		<md-list-item  ng-repeat="o in order">
		  <section flex>
			{{o.item.name}}, {{o.amount}}
			<p ng-show="o.item.customs.removed.length != 0">
			without: <text ng-repeat="r in o.item.customs.removed"> {{r}}, </text>
			</p>
			<p ng-show="o.item.customs.comment != ''">
			comment: <text> {{o.item.customs.comment}} </text>
			</p>
		  </section>
		  <section flex layout="row" layout-align="end center">
			<md-button class="md-raised"  ng-click="incrementItem(o)"> + </md-button>
			<md-button class="md-raised"  ng-click="removeItem(o.item, order)"> - </md-button>
		  </section>
		  <!--<i class="material-icons">close</i>--> 
		</md-list-item>

		<md-divider></md-divider>

		<md-subheader>Zone:</md-subheader>
		<md-list-item ng-class="{red: zoneChosenBool}">{{zoneChosen}}</md-list-item>

		<md-divider></md-divider>

		<md-subheader>Total price:</md-subheader>
		<md-list-item>{{sum(order)}} kr</md-list-item>
	  </md-list>
	</md-content>

	<div layout="row" layout-align="end start">
	  <md-button class="md-raised" ng-click="clearOrder()">Cancel</md-button>
	  <md-button class="md-raised md-primary" ng-click="submitOrder()">Submit</md-button>
	</div>
  </section>
</main>
