<div id="kitchen">
  <h3 ng-show="noOrders()">There is nothing in the queue.</h3>
  <md-content layout="column">
      <p class="zoneNumber">{{order.zone}}</p>
      <md-card class="order-kitchen" ng-repeat="order in orders">
          
	  <md-card-content ng-click="addItem(burger, [])">
		<md-list class="md-dense" flex>
		  <div ng-repeat="meal in order.orders">
			<md-list-item ng-repeat="i in range(meal.amount)" ng-click="removeMeal(meal)" ng-class="{yellow: meal.progress}">
			  <p>{{meal.item.name}}</p>
			  <div class="md-secondary">{{getTime(meal)}}</div>
			</md-list-item>
		  </div>
		</md-list>
	  </md-card-content>
	</md-card>
  </md-content>
</div>
