<div id="kitchen">
  <h3 ng-show="noOrders()">There is nothing in the queue.</h3>
  <md-content layout="column">

	<md-card class="order-kitchen" ng-repeat="order in orders">
	  <md-card-content ng-click="addItem(burger, [])">
		<md-list class="md-dense" flex>
		  <div ng-repeat="meal in order.orders">
			<md-list-item class="secondary-button-padding md-body-3" ng-repeat="i in range(meal.amount)" ng-click="removeMeal(meal)" >
			    {{meal.item.name}}
			</md-list-item>
		  </div>
		</md-list>
	  </md-card-content>
	</md-card>
  </md-content>
</div>
