$padding: 10px; 
$border: solid gray 2px;

header {
  background-color: #ccc;
  padding: $padding;
}

main {
  display: flex;
  border: solid black 2px;
}

section.burgers {
  //flex-wrap: wrap;
  //border: $border;
  padding: $padding;

  md-card {
	width: 200px;
  }
}

.order-status {
  //position: relative;
  padding: 10px;

  h3 {
	width: 200px;
  }
}

//.submit {
  //position: absolute;
  //right: $padding;
  //bottom: $padding;
//}
