$padding: 10px; 
$border: solid gray 2px;

header {
  color: white;
  background-color: #ccc;
  padding: $padding;
}

section.burgers {
  padding: $padding;

  md-card {
	width: 300px;

	md-card-content{
	  cursor: pointer;
	}

	img {
	  max-width: 100%;
	}
  }
}

.order-status {
  //padding: $padding;
  min-width: 500px;

  h3 {
	//width: 200px;
  }
  
  button {
	padding: 5px 0 5px 0;
  }

  //md-button {
	//float: right;
  //}

  md-content {
	max-width: 900;
  }
}

#customize {
  list-style: none;
  
  li {
    height: 75px;
    width: 100%;

    md-checkbox {
      display: block;
    }
  }
}


