$padding: 10px; 
$border: solid gray 2px;
$card-width: 250px;
//$border-color: #dadada;

.bold {
  font-weight: bold;
}

header {
  color: white;
  background-color: #ccc;
  padding: $padding;
}

section.burgers {
  padding: $padding;

  md-card {
	width: $card-width;

	md-card-content{
	  cursor: pointer;
	}

	img {
	  max-width: 100%;
	}

	md-card-footer {
	  padding-top: 0;
	}
  }

  .favorites {


  }
  .drinks {
        md-headline {
          font-size: 20%;        
  }
  
  md-card {
	width: 100px;

	md-card-content{
	  cursor: pointer;
	}

	img {
	  max-width: 100%;
	}

	md-card-footer {
	  padding-top: 0;
	}
  }
} 

}

.order-status {
  padding: $padding;
  //border-left: 2px solid $border-color; 
  min-width: 500px;

  h3 {
	//width: 200px;
  }
  
  button {
	padding: 5px 0 5px 0;
  }

  //md-button {
	//float: right;
  //}

  md-content {
	max-width: 900;
  }

  section p {
	margin-left: 20px;
  }
}

#customize {
  list-style: none;
  
  li {
    height: 75px;
    width: 100%;

    md-checkbox {
      display: block;
    }
  }
}

#kitchen {
  font-size: 20px;
  padding: $padding;

  .order-kitchen {
  font-size: 500%;
	margin-bottom: 20px;
  }
}

.red {
     background-color: red;
}

.yellow {
     background-color: yellow;
}

.meal {
      width: 100%;
      display: block;
}      

.time {
    float: right;
    
}
